.card {
  position: relative;
  overflow: hidden;
  box-shadow: 10px 13px 87px -19px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 10px 13px 87px -19px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 10px 13px 87px -19px rgba(0, 0, 0, 0.57);
}

.skidka {
  width: 200px;
  height: 50px;
  background-color: green;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
  margin-left: -30%;
  margin-top: -7px;
}

.sena {
  margin-left: 10%;
  width: 80%;
}